* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fragment Mono", monospace;
    background-color: #D67DB3;  /* primary color */
    color: #000000;
}

.display-font {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #000000;
}

header {
    background-color: #D67DB3;  /* primary color */
    color: #000000;
    padding: 3.5em 0;
    text-align: center;
    border-top: 20px solid #000000;
    border-bottom: 6px solid #000000;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #D67DB3; /* Your desired fill */
    z-index: 1000; /* Ensure it stays on top of other content */

}

h1, h2 {
    margin-bottom: 20px;
}

/* custom heading for the 'about' section */
h5 {
    margin-top: -1.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #D67DB3; /* primary color */
    color: #000000;
    border-top: 2px solid #000000;
}

.bio p {
    margin-bottom: 1em;
}

/* adds fallback support for the International Phonetic Alphabet (IPA) symbols */
.ipa {
    font-family: 'Noto Sans', sans-serif;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #0000FF;
    margin-bottom: 1.4em;
}

/*home icon css style */
.home-icon {
    cursor: crosshair;
    padding: 20px;
    position: fixed;
    top: 27px;
    left: 20px;
    z-index: 105;
    mix-blend-mode: soft-light;
}

.home-icon:active {
    filter: brightness(0); /* makes the icon black on click for mobile */
    mix-blend-mode: overlay;
}

/* socials and text decorations */
/* underlines all anchor tags within the #socials section */
#socials a {
    text-decoration: underline;
}

/* underlines the email link */
#contact a {
    text-decoration: underline;
}

/* custom class for bolding and underlining text */
.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

/* bio "read more" button */
#moreText {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
}

#moreText.show {
    visibility: visible;
    opacity: 1;
    max-height: 600px; /* adjust based on text */
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0s linear 0s;
}

/* bio "read more" adjustments for smaller screens */
@media (max-width: 768px) {
    #moreText.show {
        max-height: 1600px;
    }
}

@media (max-width: 480px) {
    #moreText.show {
        max-height: 2500px;
    }
}

#readMore {
    background-color: #000000;
    color: #D67DB3;
    border: none;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    cursor: crosshair;
    border-radius: 1em;
}

/* scrolling text banner */
.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    margin-bottom: -4em;
    z-index: 10;
    /* padding-right: 80px; commented out */ 
}

.text {
    font-weight: 400;
    text-transform: lowercase;
    color: #000000;
    display: inline-block;
    animation: animate_text 20s linear infinite;
    font-size: 6em;
    font-family: 'Terminal Grotesque', monospace; /* custom font */
}

.text span {
    margin: 0 0.2em;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  /* link custom fonts */
  @font-face {
    font-family: 'Terminal Grotesque';
    src: url('../fonts/terminal-grotesque/terminal-grotesque-webfont.woff2') format('woff2'),
         url('../fonts/terminal-grotesque/terminal-grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* hamburger menu */
.hamburger-menu {
    position: fixed; /* changed to fixed to make it sticky */
    top: 0;
    right: 0;
    z-index: 100;
}

.menu-icon {
    cursor: crosshair;
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 105;
}

.menu-icon img {
    width: 40px;
    height: auto;
    transition: opacity 0.15s ease;
}

/* separate close button inside the menu */
.close-menu {
    display: none;
    cursor: crosshair;
    position: absolute;
    color: #D67DB3;
    top: 1.5em;
    right: 1.2em;
    font-size: 1.5em;
}

.menu-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #000000;
    box-shadow: -8px 0 16px rgba(0,0,0,0.2);
    z-index: 99;
    overflow-y: auto;
    padding: 20px;
    transform: translateX(100%); /* initially off-screen */
    transition: transform 0.5s ease; /* smooth transition for the transform */

}
.menu-content.active {
    transform: translateX(0); /* move into view */
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
}

.menu-content ul li a {
    display: block;
    padding: 5px 0; 
    margin-top: 60px;
    color: #D67DB3; 
    text-decoration: none;
    font-size: 1.2em;
    cursor: crosshair;
}

.menu-content ul li a:hover {
    background-color: #0000FF;
}

/* menu overlay */
.overlay {
    display: none;
    position: fixed; /* cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* dim effect */
    z-index: 50;
}

/* news page css */
.news-container {
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px; /* softens the edges */
    margin: 15px auto; /* centralizes the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    max-width: 96%; /* width of the news container */
    text-align: center;
}

.news-title {
    font-size: 24px;
    padding-bottom: 5px;
}

.news-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.news-image {
    max-width: 70%;
}

/* media query for desktop screens */
@media (min-width: 768px) { /* adjust the breakpoint as needed */
    .release-image {
        max-width: 30%; /* smaller max-width for larger screens */
    }
}

/* styling for individual news items */
.news-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #eeeeee; /* separating news items */;
}

.news-item:last-child {
    border-bottom: none; /* removing the border from the last item */
}

.news-item h3 {
    margin: 0;
    color: #D67DB3; /* using the primary color for headlines */
}

.news-item p {
    margin: 5px 0 10px; /* spacing around the paragraph */
}

.news-item a {
    color: #000000; /* ensuring links are visible */
    text-decoration: underline; /* underlining links for clarity */
}

.news-item a:hover {
    color: #D67DB3; /* hover effect for links */
}

/* styling for the music page */
/* releases + mixes */

#year-filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    max-width: 40%;
}

.year-filter-button {
    background-color: #000000;
    color: #D67DB3;
    padding: 0.4em 0.6em;
    margin: 5px; /* margin to manage space between buttons */
    text-align: center;
    font-size: 0.8em;
    cursor: crosshair;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    flex-basis: 20%; /* controls the button width */
    min-width: 30px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 1.5em;
}

.year-filter-button:hover, .year-filter-button.active {
    background-color: #D67DB3;
    color: #000000;
}

.mixes-link, .release-link {
    text-decoration: underline;
}

.release-item, .mix-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    opacity: 1; /* fully visible by default */
    transition: opacity 0.5s ease; /* transition for opacity changes */
}

.release-title, .mix-title {
    font-size: 1.3em; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds some space below the title */
}

/* for fading text content in and out */
.releases-content-container {
    transition: opacity 0.4s ease;
    opacity: 1;
}

.release-image {
    max-width: 70%; /* keeps the image as responsive, so it doesn't overflow its container */
    height: auto; /* keeps the image's aspect ratio */
    display: block; /* images are inline by default; this ensures margin properties work */
    margin: 0 0 20px 0; /* applies margin to the bottom; no auto margin for horizontal alignment */
    border-radius: 5px; /* adds rounded corners for a softer look */
}

/* media query for desktop screens */
@media (min-width: 768px) { /* adjust the breakpoint as needed */
    .release-image {
        max-width: 30%; /* smaller max-width for larger screens */
    }
}

.release-description {
    padding-top: 10px; /* Adds padding above the description */
    padding-bottom: 10px; /* Adds padding below the description */
}

.mixes-content-container {
    transition: opacity 0.4s ease;
    opacity: 1; /* Initial opacity */
}

#releases-section h2, #mixes-section h2 {
    font-size: 2em; /* Adjust the size as needed */
}

.mix-image {
    max-width: 70%; /* keeps the image as responsive, so it doesn't overflow its container */
    height: auto; /* keeps the image's aspect ratio */
    display: block; /* images are inline by default; this ensures margin properties work */
    margin: 0 0 20px 0; /* applies margin to the bottom; no auto margin for horizontal alignment */
    border-radius: 5px; /* adds rounded corners for a softer look */
}

/* media query for desktop screens */
@media (min-width: 768px) { /* adjust the breakpoint as needed */
    .mix-image {
        max-width: 30%; /* smaller max-width for larger screens */
    }
}

@media (min-width: 768px) { /* adjust the breakpoint as needed */
    .mix-description {
        max-width: 50%; /* smaller max-width for larger screens */
    }
}

.mix-description {
    padding-top: 10px; /* padding above the description */
    padding-bottom: 10px; /* padding below the description */
    max-width: 80%;
}

/* visuals.html */
/* styling for the visuals page */

#visuals-section h2 {
    font-size: 2em; /* Adjust the size as needed */
}

.visuals-link {
    text-decoration: underline;
}

.visual-description {
    padding-top: 10px; /* padding above the description */
    padding-bottom: 10px; /* padding below the description */
}

.visual-title {
    font-size: 1.3em;
    margin-bottom: 0.5em; /* some space below the title */
}

.visual-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    opacity: 1; /* fully visible by default */
    transition: opacity 0.5s ease; /* transition for opacity changes */
}

.visual-image {
    max-width: 70%; /* keeps the image as responsive, so it doesn't overflow its container */
    height: auto; /* keeps the image's aspect ratio */
    display: block; /* images are inline by default; this ensures margin properties work */
    margin: 0 0 20px 0; /* applies margin to the bottom; no auto margin for horizontal alignment */
    border-radius: 5px; /* adds rounded corners for a softer look */
}

/* Language Filter Buttons */
.language-filter-button {
    background-color: #000000;
    color: #D67DB3;
    padding: 0.4em 0.6em;
    margin: 5px;
    text-align: center;
    font-size: 0.8em;
    cursor: crosshair;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 1em;
}

.language-filter-button:hover, .language-filter-button.active {
    background-color: #D67DB3;
    color: #000000;
}

/* Length Filter Buttons - Differentiated */
.length-filter-button {
    background-color: #000000;
    color: #D67DB3;  /* Orange color for text */
    padding: 0.4em 0.6em;
    margin: 5px;
    text-align: center;
    font-size: 0.8em;
    cursor: crosshair;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    border-color: #000000;  /* Orange border for contrast */
    border-width: 2px;
    border-style: dashed;  /* Dashed border to differentiate */
    margin-bottom: 1em;  /* Reduced bottom margin */
}

.length-filter-button:hover, .length-filter-button.active {
    background-color: #D67DB3;  /* Same active background color as language buttons */
    color: #000000;  /* Same active text color as language buttons */
    transform: scale(1.05);  /* Slight scale effect for a visual pop */
}


.press-content-container,
.press-reviews-container {
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 96%;
    text-align: center;
    transition: opacity 0.4s ease;
}

.press-item {
    transition: opacity 0.5s ease;
}

.press-content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.press-link {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1em;
    color: #D67DB3;
}

.press-reviews-container {
    background-color: #f9f9f9; /* Light background to differentiate from bios */
}

.review {
    margin-bottom: 30px;
}

.review-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #000;
}

.review-subtitle {
    font-size: 1em;
    margin-bottom: 15px;
    color: #555;
    font-style: italic;
}

.review-content {
    margin-bottom: 20px;
    color: #333;
    font-style: italic;
}

.review-author {
    font-weight: bold;
    margin-top: 10px;
}

.review-link {
    display: inline-block;
    margin-top: 10px;
    color: #000;
    text-decoration: underline;
}

.not-found-404-links {
    text-decoration: underline;
}

.ascii-art {
    font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
    white-space: pre; /* Ensures whitespace is preserved */
    font-size: 8px; /* Adjust based on your design needs */
    line-height: 1.2; /* Adjust line height to ensure proper spacing */
    text-align: center; /* Center align the ASCII art */
}

/*.release-item:last-child, .mix-item:last-child {
    border-bottom: 1px solid #000000; /* separator
} /*

  @media (max-width: 768px) {
    .year-filter-button {
        border-color: #000000;
    }
}
